API_ID=23361944 # get this value from my.telegram.org
API_HASH=90f11aff7faac62c525252789bc1488b # get this value from my.telegram.org
BOT_TOKEN=1263725637:ghsdvkhsvchsuhdc # get this value from @Botfather
MONGO_DB_URI=mongodb+srv://admoon:Anjayani78@cluster0.0ngxf.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0 # get this value from mongodb.com
LOG_GROUP_ID=-1001234567890 # get this value from in your log group 
MUSIC_BOT_NAME=yukki # your music bot name 
STRING_SESSION=BQFkeZgAbeZMtaIj59Qr2rN8p2PT5vzXNaPFfa6EpccmVGtcq86kXHXcg4cLlmILXpl_obArpEjZG6yhfCp33uhtFgp8QJ9ppfmU3htSWhlvf5wJFBSUj8zFcD_TW9icYzmKxY_jnoKWL9Sb0KzIlw0rgruh2pgYg6Jg1HHNr77r78gBJlzAZHod4OHbvUwHrCrJotTn_PzFUWydnsw58lGgDYwbnyMMevzNqlmxMWVocIuBG5i4_qNBpPrnqw_Dx8prtzXn2bA6wceN6j-km9qnqLuFTghjBRgs5IyCurKaH0maO1vcJmBxHZAatLcr4TDN9K4LvcZkWAefACVBniEp474CcQAAAAGdw_vEAA # get this value from @yukkistringbot
